<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="/css/success.css">
    <link rel="icon" href='/img/favicon.ico'>
</head>
<body>
    <section class="success-section">
        <h1 class="main-title">Seu cadastro foi realizado com sucesso, <%= nome %>!</h1>

        <p class="main-text">Fique atento e enviarei pra você as melhores notícias de <span class="span-js">NodeJs</span> para seu email, agradeço
        pela sua preferência!
        </p>

        <p class="main-text">veja mais dos meus projetos feito com <a href="https://github.com/LucasJS331" class="main-link" target="blank"><span class="span-js">NodeJs </span> </a></p>

    </section>
</body>
</html>