body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(24, 138, 33), rgb(0, 247, 152));
    color: white;
    text-align: center;
}

label{
    display: block;
    margin-bottom: 0px;
}

.form-error-label{
    color: #f81b1bc2;
    text-align: left;
    margin-bottom: .20em;
    font-weight: bold;
}
.form-label{
    margin: 1em 0 .20em 0;
}

#main-title{
    margin: 1.5em auto .10em auto;
    font-size: 1.7em;
    padding: .35em;
}

.form-section{
    width: 100%;
    margin: auto;
   padding: 1em;
   box-sizing: border-box;
}

.form-user{
    box-sizing: border-box;
    text-align: center;
}


.form-user-input{
    border: 0;
    padding: .70em;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.form-user-input:focus{
    outline: none;
    border: 2px solid rgb(21, 255, 0);
}

.form-user-button{
    width: 100%;
    padding: .60em 2em;
   background-color: rgb(14, 136, 44);
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 1.3em;
    color: white;
    transition: background-color .3s linear;
}

.form-user-button:hover{
    background-color: rgb(6, 77, 21);
}



@media screen and (min-width: 37.5em) {


    #main-title{
        margin: 1.6em auto 0 auto;
        font-size: 2em;
        padding: 0;
        width: 80%;
    }

    .form-error-label{
        text-align: center;
        
    }
    .form-user-input{
        margin-bottom: 0px;
        width: 60%;
    
    }

    .form-user-button{
        width: 60%;
    }

    
   
}



@media screen and (min-width: 43.75em) {

    #main-title{
    margin: 110px auto 0 auto;
    font-size: 2em;
    width: 50%;
    
    }

    .form-error-label{
        text-align: left;
        
    }

    .form-section{
        width: 30%;
        margin: auto;
        border-radius: 5px;
        padding: 0;
    }


    .form-user-input{
        border: 0;
        padding: .70em;
        width: 100%;
        border-radius: 5px;
        border: 2px solid transparent;
        box-sizing: border-box;
    }



    .form-user-button{
        padding: .60em 2em;
        border: none;
        display: inline-block;
        font-size: 1.3em;
        width: initial;
        margin-top: 15px;
    }
    
}

@media screen and (min-width: 62.5em) {
    #main-title{
        margin: 103px auto 0 auto;
        font-size: 1.8em;
        width: 30%;
        
    }
}